:root {
    --main_bg: #000F0C;
    --terminal_color: #008800;
    --terminal_color_dark: #004400;
    --terminal_bg: #000000;
    --terminal_font: courier, monospace;
    --terminal_font_size: 20px;
    --terminal_font_size_mobile: 16px;
    --terminal_font_weight: bold;
    --desktop_width: 1024px;
    --tablet_width: 800px;
    --mobile_width: 480px;
    --padding_main: 1em;
    --padding_small: 0.5em;
    --padding_xs: 0.25em;
}

body {
    height: 100vh;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main_bg {
    background-color: var(--main_bg);
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-position: center;
}

.container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    max-width: var(--desktop_width);
    margin: 0 auto;
    padding: var(--padding_main) 0;
}

.terminal {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    background-color: var(--terminal_bg);
    font-family: var(--terminal_font), monospace;
    font-weight: var(--terminal_font_weight);
    font-size: var(--terminal_font_size);
    color: var(--terminal_color);
}

.terminal header, .terminal footer {
    background-color: var(--terminal_color);
    color: var(--terminal_bg);
    padding: 0 var(--padding_main);
}

.terminal main {
    display: flex;
    flex-direction: column;
    gap: var(--padding_xs);
    flex: 1;
    min-height: 0;
    padding: var(--padding_small);
}

.terminal footer {
    text-align: center;
}

.terminal-content {
    flex: 1;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.terminal-content pre {
    margin: 0;
}

.shell-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
}

.shell {
    display: flex;
    flex: 1;
    min-height: 0;
    gap: var(--padding_small);
}

.shell-panel {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    border: 3px double var(--terminal_color_dark);
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    border-collapse: collapse;
}

.panel-path {
    flex-shrink: 0;
    text-align: center;
    padding: var(--padding_xs) var(--padding_main);;
    border-bottom: 1px solid var(--terminal_color);
}

.shell-panel table {
    min-height: 0;
    width: 100%;
}

.shell-panel table {
    width: 100%;
    border-collapse: collapse;
}

.shell-panel .viewer img {
    width:100%;
}


.shell-panel table thead {
    /*position: sticky;*/
    /*top: 0;*/
    background-color: var(--terminal_bg);
    border-bottom: 2px solid var(--terminal_color);
}

.shell-panel table td {
    padding: var(--padding_xs) var(--padding_main);
}

.invalid {
    color: var(--terminal_color_dark);
}

.selected {
    background-color: var(--terminal_color);
    color: var(--terminal_bg);
}

.shell-panel table .selected a {
    color : var(--terminal_bg);
}

.shell-panel table tbody tr:hover, .shell-panel table tbody tr:active {
    color: var(--terminal_bg);
    background-color: var(--terminal_color_dark);
}

.shell-panel table a {
    color: var(--terminal_color);
    text-decoration-line:none;
}

.shell-panel table a:hover {
    color: var(--terminal_bg);
    text-decoration-line:underline;
}



.active_panel {
    border-color: var(--terminal_color);
}

.shell-panel table tbody tr.invalid:hover {
    background-color: var(--terminal_color_dark);
}

.file-list {
    margin: 0;
    padding: var(--padding_main);
}

.file-list li:hover, .file-list li:active {
    color: var(--terminal_bg);
    background-color: var(--terminal_color);
}

.shell-panel > p.file-list {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: var(--padding_main);
    min-height: 100px;
}

.dragover {
    border: 3px dotted var(--terminal_color);
}

.menu {
    flex-shrink: 0;
    margin-top: var(--padding_small);
}

.menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--padding_main);
    margin: var(--padding_small) 0;
}

.menu li {
    flex-grow: 1;
    background-color: var(--terminal_color);
    color: var(--terminal_bg);
    text-align: center;
    padding: 0 var(--padding_small);
    cursor: pointer;
}

.menu li:hover, .menu li:active {
    background-color: var(--terminal_bg);
    color: var(--terminal_color);
    outline: 2px solid var(--terminal_color);
}

.menu li:active {
    background-color: var(--terminal_color_dark);
}

.command-line {
    flex-shrink: 0;
    display: flex;
    align-items: center;
}

#cl-input {
    flex-grow: 1;
    background-color: var(--terminal_bg);
    color: var(--terminal_color);
    border: none;
    outline: none;
    font-family: courier, monospace;
    font-weight: bold;
    font-size: var(--terminal_font_size);
    padding-left: var(--padding_small);
}
