<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Commander</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body class="main_bg">
<div class="container" id="app">
    <input type="file"
           id="fileInput"
           accept="image/*"
           multiple
           style="display: none;"
           @change="handleFiles">
    <div class="terminal">
        <header class="title-bar">{{ headerText }}</header>
        <main>
            <div class="shell-container" style="display: none;" v-show="showShell">
                <div class="shell">
                    <div class="shell-panel"
                         id="upload-panel"
                         @click="activePanel='left'"
                         :class="{active_panel: activePanel === `left`}"
                         @keydown.enter="alert('left up')"
                    >
                        <div class="viewer" v-show="viewMode">
                            <img src="static/img/banner.png">
                        </div>
                        <div class="panel-path">/local/selected/</div>
                        <table v-if="selectedFilesInfo.length > 0">
                            <thead>
                            <tr>
                                <td>Filename</td>
                                <td>Ext</td>
                                <td>Size&nbsp;MB</td>
                                <td>OK</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(file, index) in selectedFilesInfo"
                                :key="index"
                                :class="{
                                    invalid: !file.validation.ok,
                                    selected: index === selectedFileIndex
                                }"
                                :data-selected="index === selectedFileIndex && activePanel === 'left'"
                                @click="selectFile(index, 'left')">
                                <td>{{ file.shortName }}</td>
                                <td>{{ file.ext }}</td>
                                <td style="text-align: right">{{ file.sizeMB }}</td>
                                <td style="text-align: center">{{ file.validation.ok ? '✓' : ''}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <p class="file-list" v-else>drop your files here...<br> or click "Select" button</p>
                    </div>
                    <div class="shell-panel"
                         id="storage-panel"
                         @click="activePanel='right'"
                         :class="{active_panel: activePanel === `right`}"
                    >
                        <div class="panel-path">/host/uploaded/</div>
                        <table v-if="uploadedImages.length > 0">
                            <thead>
                            <tr>
                                <td>Filename</td>
                                <td>Ext</td>
                                <td>Size&nbsp;MB</td>
                                <td>Link</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(file, index) in uploadedImages"
                                :key="index"
                                :class="{
                                    selected: index === uploadedFileIndex
                                }"
                                :data-selected="index === uploadedFileIndex && activePanel === 'right'"
                                @click="selectFile(index, 'right')"
                            >
                                <td>{{ file.shortName }}</td>
                                <td>{{ file.ext }}</td>
                                <td style="text-align: right">{{ file.sizeMB }}</td>
                                <td style="text-align: center"><a target="_blank" href="#">[🡇]</a></td>
                            </tr>
                            </tbody>
                        </table>
                        <p class="file-list" v-else>No files yet...</p>
                    </div>
                </div>
                <div class="menu">
                    <ul>
                        <li>Help</li>
                        <li @click="btnSelect">Select</li>
                        <li @click="viewMode=!viewMode">View</li>
                        <li @click="btnUpload">Upload</li>
                        <li @click="deleteSelectedFile">Delete</li>
                        <li @click="btnExit">Exit</li>
                    </ul>
                </div>
            </div>
            <div class="terminal-content" v-show="!showShell" @click="focusInput">
                <pre id="terminal-text">{{ terminalText }}</pre>
            </div>
            <div class="command-line">
                <label for="cl-input" id="cl-label">{{ username }}</label>
                <input type="text" id="cl-input"
                       v-model="commandInput"
                       @keydown.enter="executeCommand"
                       @keydown.up="getHistory(-1)"
                       @keydown.down="getHistory(1)"
                       @focusin="activePanel=null"
                       ref="commandInput">
            </div>

        </main>
        <footer>{{ footerText }}</footer>
    </div>
</div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="static/js/main_vue.js"></script>
</body>
</html>