<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Commander</title>
    <link rel="stylesheet" href="static/css/style.css?v=20260210001512">
    <link rel="icon" type="image/png" href="static/img/icons/favicon-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/svg+xml" href="static/img/icons/favicon.svg"/>
    <link rel="shortcut icon" href="static/img/icons/favicon.ico"/>
    <link rel="apple-touch-icon" sizes="180x180" href="static/img/icons/apple-touch-icon.png"/>
    <link rel="manifest" href="static/img/icons/site.webmanifest"/>
</head>
<body class="main_bg">
<div class="container" id="app">
    <input type="file"
           id="fileInput"
           accept="image/*"
           multiple
           style="display: none;"
           @change="handleSelectedFiles">
    <div class="modal-overlay" style="display: none" v-show="showModal" @click.self="showModal=false">
        <div class="modal-window">
            <div class="modal-header">
                <h3>{{ modalContent.title }}</h3>
                <button class="modal-close" @click="showModal=false">&times;</button>
            </div>
            <div class="modal-content">
                <pre>{{ modalContent.text }}</pre>
            </div>
        </div>
    </div>
    <div class="loader" v-show="isLoading">
        <div class="loader-content">
            <div class="loader-terminal">
                <pre>
    ____
   /  _/___ ___  ____ _____ ____
   / // __ `__ \/ __ `/ __ `/ _ \
 _/ // / / / / / /_/ / /_/ /  __/
/___/_/_/_/ /_/\__,_/\__, /\___/                   __
  / ____/___  ____ _/____/__ ___  ____ _____  ____/ /__  _____
 / /   / __ \/ __ `__ \/ __ `__ \/ __ `/ __ \/ __  / _ \/ ___/
/ /___/ /_/ / / / / / / / / / / / /_/ / / / / /_/ /  __/ /
\____/\____/_/ /_/ /_/_/ /_/ /_/\__,_/_/ /_/\__,_/\___/_/
                </pre>
                <div class="loader-messages" style="display: none" v-show="!isPreloading">
                    <div v-for="(msg, index) in loaderMessages"
                         :key="index"
                         class="loader-message">
                        {{ msg.text }}<span v-if="index === loaderMessages.length - 1" class="loader-cursor"></span>
                    </div>
                </div>
            </div>
            <div class="loader-progress">
                <span>Initializing system...</span>
                <div class="loader-progress-bar">
                    <div class="loader-progress-fill" :style="{ width: loaderProgress + '%' }"></div>
                </div>
                <span>{{ loaderProgress }}%</span>
            </div>
        </div>
    </div>
    <div class="uploading_indicator" style="display:none" v-show="isUploadProcess">
        UPLOADING...
    </div>
    <div class="terminal" style="display:none" v-show="!isLoading">
        <header class="title-bar">{{ headerText }}</header>
        <main>
            <div class="shell-container" style="display: none;" v-show="showShell">
                <div class="shell">
                    <div class="panel-container">
                        <div class="shell-panel"
                             id="upload-panel"
                             @click="activePanel='left'"
                             :class="{active_panel: activePanel === `left`, dragover: isDragOver}"
                             @keydown.enter="alert('left up')"
                             @dragover.prevent="handleDragOver"
                             @dragleave.prevent="handleDragLeave"
                             @drop.prevent="handleDrop"
                        >
                            <div class="panel-path">/local/selected/</div>
                            <table v-if="selectedFilesInfo.length > 0">
                                <thead>
                                <tr>
                                    <td>Filename</td>
                                    <td>Ext</td>
                                    <td class="right">Size&nbsp;MB</td>
                                    <td class="center">OK</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(file, index) in selectedFilesInfo"
                                    :key="index"
                                    :class="{
                                    invalid: !file.validation.ok,
                                    selected: index === selectedFileIndex
                                }"
                                    :data-selected="index === selectedFileIndex && activePanel === 'left'"
                                    @click="selectFile(index, 'left')">
                                    <td>{{ file.shortName }}</td>
                                    <td>{{ file.ext }}</td>
                                    <td class="right">{{ file.sizeMB }}</td>
                                    <td class="center">{{ file.validation.ok ? '✓' : ''}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <p class="empty-message" v-else>Drop your files here...<br> Or click "Select" button</p>
                        </div>
                        <div class="viewer" v-show="viewMode">
                            <img v-if="activePanel==='right'" :src="currentView.preview" alt="No Preview Available">
                            <img v-else-if="activePanel==='left'"
                                 :src="currentView.preview" alt="No Preview Available">
                            <p v-else>Click image to see preview</p>
                            <div class="preview-info">{{ currentView.name }}</div>
                        </div>
                    </div>
                    <div class="panel-container">
                        <div class="shell-panel"
                             id="storage-panel"
                             @click="activePanel='right'"
                             :class="{active_panel: activePanel === `right`}"
                        >
                            <div class="panel-path">/host/uploaded/</div>
                            <table v-if="uploadedImages.length > 0">
                                <thead>
                                <tr>
                                    <td>Filename</td>
                                    <td>Ext</td>
                                    <td class="right">Size&nbsp;MB</td>
                                    <td class="center">Link</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(file, index) in uploadedFilesInfo"
                                    :key="index"
                                    :class="{selected: index === uploadedFileIndex}"
                                    :data-selected="index === uploadedFileIndex && activePanel === 'right'"
                                    @click="selectFile(index, 'right')"
                                >
                                    <td>{{ file.shortName }}</td>
                                    <td>{{ file.ext }}</td>
                                    <td class="right">{{ file.sizeMB }}</td>
                                    <td class="center"><a target="_blank" :href="file.link">[🡇]</a></td>
                                </tr>
                                </tbody>
                            </table>
                            <p class="empty-message" v-else>No files yet...</p>
                        </div>
                        <div v-show="maxPages>1" class="pagination">
                            <div class="page-buttons"
                                 :class="{disabled: currentPage===1}"
                                 @click="nextPage(-1)"><< prev
                            </div>
                            <div>||</div>
                            <div class="page-buttons"
                                 :class="{disabled: currentPage===maxPages}"
                                 @click="nextPage(1)">next >>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu">
                    <ul>
                        <li @click="btnHelp">F1 Help</li>
                        <li @click="btnSelect">F2 Select</li>
                        <li @click="btnView">F3 View</li>
                        <li @click="btnUpload"
                            :class="{disabled: disableUpload}">F4 Upload
                        </li>
                        <li @click="deleteSelectedFile"
                            :class="{disabled: disableDelete}">F8 Delete
                        </li>
                        <li @click="btnExit">F10 Exit</li>
                    </ul>
                </div>
            </div>
            <div class="terminal-content" v-show="!showShell" @click="focusInput">
                <pre id="terminal-text">{{ terminalText }}</pre>
            </div>
            <div class="command-line">
                <label for="cl-input" id="cl-label">{{ username }}</label>
                <input type="text" id="cl-input"
                       v-model="commandInput"
                       @keydown.enter="executeCommand"
                       @keydown.up="getHistory(-1)"
                       @keydown.down="getHistory(1)"
                       @focusin="activePanel=null"
                       ref="commandInput">
            </div>

        </main>
        <footer>{{ footerText }}</footer>
    </div>
</div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js?v=20260210001512"></script>
<script src="static/js/main_vue.js?v=20260210001512"></script>
</body>
</html>